/* Цвета текста (все цвета на стр)
text-color
color: #212121;
color: #2196F3;
color: #757575;
color: #FFFFFF;
color: rgba(255, 255, 255, 0.6);
*/

/* Background
background: #2F303A;
 */

:root {
  --praimary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --back-color: #2f303a;
}

body {
  color: var(--praimary-text-color);
  background-color: var(--white-color);
  font-family: Roboto, sans-serif;
}

.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
.active {
  color: var(--accent-color);
}
.active:hover,
.active:focus {
  color: var(--praimary-text-color);
}

/* HEADER*/

.web {
  color: var(--accent-color);
}

.studio {
  color: var(--praimary-text-color);
}
/*  navigation */
.nav {
  color: var(--praimary-text-color);
}
.nav:hover,
.nav:focus {
  color: var(--accent-color);
}

.info:hover,
.info:focus {
  color: var(--accent-color);
}

.text {
  color: var(--title-text-color);
}

/*HERO*/

.title {
  color: var(--white-color);
  background-color: var(--back-color);
}

.button {
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* FOOTER */
.footer {
  background-color: var(--back-color);
}

.footer .web {
  color: var(--accent-color);
}

.footer .studio {
  color: var(--white-color);
}

.addres {
  color: var(--white-color);
}

.footer-info {
  color: rgba(255, 255, 255, 0.6);
}

/* Портфолио */
.btn {
  color: var(--praimary-text-color);
  background-color: #f5f4fa;
}

.btn:hover,
.btn:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}
